/* Fahkwang — self-hosted under the SIL Open Font License 1.1. */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(Fahkwang-SemiBold.ttf) format('truetype');
}
