LCAFE_SITE_BIND_HOST=127.0.0.1
LCAFE_SITE_PORT=3100
LCAFE_SITE_ALLOWED_ORIGIN=https://l-cafe.ir
LCAFE_SITE_DATA_ROOT=/var/lib/lcafe-site
LCAFE_SITE_DB=/var/lib/lcafe-site/site.sqlite
LCAFE_SITE_MANAGED_MENU_DIR=/var/lib/lcafe-site/managed-menu
LCAFE_SITE_MANAGED_MEDIA_DIR=/var/lib/lcafe-site/managed-media
LCAFE_SITE_MENU_REVISIONS_DIR=/var/lib/lcafe-site/menu-revisions
LCAFE_SITE_MEDIA_ORIGINALS_DIR=/var/lib/lcafe-site/media-originals
LCAFE_SITE_SESSION_NAME=lcafe_admin
LCAFE_SITE_IDLE_TIMEOUT_SECONDS=1800
LCAFE_SITE_ABSOLUTE_TIMEOUT_SECONDS=28800
LCAFE_SITE_MAX_LOGIN_FAILURES=5
LCAFE_SITE_LOGIN_LOCK_SECONDS=900
LCAFE_SITE_UPLOAD_MAX_BYTES=8388608
LCAFE_SITE_UPLOAD_MAX_PIXELS=20000000
LCAFE_SITE_WEBP_QUALITY=82
